
    <body>

        <h1>This is DBOOK/ <%=title %></h1>
   
    </body>
    <section id="feed-post">
        <% if (locals.user) {%>
        <h4>Posts
        </h4>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
            <input type ="submit" value="Post">
        </form>
        <% } %>
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    
                    <li>
                        <p>
                            <% if((locals.user)&& (locals.user.id==post.user.id)){ %>
                            <small>
                                <a href="/posts/destroy/<%= post.id%>"> delete</a>
                            </small>
                            <% } %>
                        <%= post.content%>
                        <small>
                            <%= post.user.name %>
                        </small>
                        </p>
                        <div class="post-comment">
                            <% if(locals.user){%>
                                <form action="/comments/create" method="POST" >
                                    <input type="text" name="content" plaaceholder="Type here to add comment..." required>
                                    <input type="hidden" name="post" value="<%= post._id %>">
                                    <input type="submit" value="add comment">

                                </form>
                                <%}%>

                                <div class="post-comment-list">
                                    <ul id="post-comments-<%= post._id %>">
                                        <% for(comment of post.comments) {%>
                                            <p>
                                                <!-- so that if post owner want to delete inappropriate comment he/she can -->
                                                <% if((locals.user)&&((locals.user.id==comment.user.id))||(locals.user.id==post.user.id)) {%>
                                                <small>
                                                    <a href="/comments/destroy/<%= comment.id%>"> delete</a>
                                                </small>
                                                <%}%>
                                            </p>
                                                <%= comment.content%>
                                                <br>
                                                <small>
                                                    <%= comment.user.name%>
                                                </small>
                                            </p>
                                            <%}%>
                                    </ul>
                                </div>
                        </div>
                    </li>
                    <%}%>
            </ul>
        </div>
    </section>