<!-- <link rel="stylesheet" href="/css/users_profile.css"> -->
  
        
        <!-- <h1>This is DBOOK/ <%=title %></h1> -->
        <% const hasAvatar = !!profile_user.avatar; %>
       <% if(profile_user.avatar){%>
        <img src="<%= profile_user.avatar %>" alt="<%= user.name %>" width="100" class="user-avatar <%= hasAvatar ? 'with-avatar' : 'no-avatar' %>">
        <%}%>
     
      <!-- <form action="/users/sign-out" method="get"><input type="submit" value="sign-out"></form> -->
      <% if(user.id==profile_user.id){%>
        <!-- if user matches then show the form -->
        
        <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="POST" class="user-update-form">
          <input type="text" name="name" placeholder="your name" value="<%=profile_user.name%>" required>
          <input type="email" name="email" placeholder="your email" value="<%=profile_user.email%>" required> 
          <input type="file" name="avatar" placeholder="Profile picture">
          <input type="submit" value="update">
        </form>


        <%}else{%>
          <!-- else show only the profile info -->


          <p class="user-profile-info"><%= profile_user.name%> </p>
          <p class="user-profile-info"><%= profile_user.email%></p>

          <%}%>
    

